ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

input {
  padding: 8px 16px;
  margin: 36px 8px 32px 156px;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  background: #fff;
}

input:hover {
  border: 1px solid #000;
}

.flatpickr-input:focus {
  border: 1px solid #4e75ff !important;
}

input:disabled {
  border: 1px solid #808080;
  background: #fafafa;
}

button {
  font-weight: 500;
  border: 0px;
  border-radius: 8px;
  padding: 8px 16px;
  width: 75px;
  color: #fff;
  background: #4e75ff;
}

button:hover {
  background: #6c8cff;
}

button:disabled {
  color: #989898;
  background: #cfcfcf;
}

.timer {
  display: flex;
  margin-left: 156px;
  gap: 24px;
}

.field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.value {
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.04em;

}

.label {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-transform: uppercase;
}

/* https: //stackoverflow.com/questions/54256483/how-can-i-apply-custom-css-to-a-toast-with-ng2-izitoast */

.iziToast>.iziToast-close {
  background: url(../img/izi-close.svg) !important;
  background-repeat: no-repeat !important;
  background-position: 50% 50% !important;
}